/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: Montserat, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: #333;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu-container.no-transparent {
    background: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu {
	max-width: 1420px;
	margin:auto;
        padding: 0 100px;
}

.menu-mobile {
    display: none;
    padding: 20px;
}


.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 0.15em;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    color: #13161f;
}

.menu-dropdown-icon:after {
    content: "\f123";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    padding: 1.5em 2em;
 /*   background: left top / contain no-repeat url("../src/list.png");    */
    color: #0d66bb;
}

.help-item::before, .btc-item::before {
    content: "";    
    padding: 0.6em 0.2em;
    display: block;
    z-index: 10;
    width:1.75em;
    height:1.75em;
}

.btc-item::before {
    background: left top / contain no-repeat url("../src/btc.png");
}

.help-item::before {
    background: left top / contain no-repeat url("../src/help.png");
}

.btc-item:hover::before {
    background: left top / contain no-repeat url("../src/btc-black.png");
}

.help-item:hover::before {
    background: left top / contain no-repeat url("../src/help-black.png");
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul > li {
    display: flex;
    align-items:center;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background: transparent;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0 0.5em;
    display: block;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #fd8209;
}

.menu > ul li:hover > a {
    color: #13161F;
}

.menu-dropdown-icon:hover::after {
    color: #13161F;
}

.menu > ul > li:hover::before {
	
}


.menu > ul > li:hover {
    
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #fd8209;
    color: #fd8209;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 33%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
    min-height:2em;
    font-weight:500;
    color: #fff;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
  border: 0;
  font-weight: normal;
}


.menu > ul > li > ul.normal-sub {
    width: 23em;
    left: auto;
    top: calc(4em + 1px);
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 0.5em 0;
    font-weight: normal;
    color: #fd8209;
    font-family: Titillium Web;
}

.menu > ul > li > ul.normal-sub > li a:hover,
.menu > ul > li > ul.normal-sub > li a:active {
    color: #13161F;
}

.get-free-wallet-button,
.access-button {

}

.topmenu-buttons {
    display: flex;
    flex-basis: 12em;
}

ul li.top-logo-desktop {
    margin-right: 2em;
}


.top-logo-desktop img,
.mobile-top-logo img {
	height:33px;
}

.mobile-top-logo img {
	position:absolute;
	top: 0.9em;
	left: 20px;
}

.mobile-top-logo h3 {
	position: absolute;
	top: 0.8em;
	left: 70px;
	font-weight: 600;
	color: #fd8209;
	font-family: Titillium Web;
	font-style: italic;
	font-size: 22px;
}

.menu > ul > li a.get-free-wallet-button,
a.mobile-get-free-wallet-button {
	border: 2px solid #fd8209;
	border-radius: 3px;
        background: #fd8209;
	color: #fff;
	cursor: pointer;
	margin:0.5em 0.3em;
	text-align:center;
	min-width:7em;
	max-width:300px;
        padding: 0.5em;
} 

a.mobile-get-free-wallet-button {
        margin: 0.75em 0.5em;
}

.menu > ul > li a.get-free-wallet-button:hover,
a.mobile-get-free-wallet-button:hover {
	background-color: #13161F;
        color: #fff;
        text-decoration: none;
        border-color: #13161F;
        
}



.menu > ul > li a.access-button,
a.mobile-access-button {
	border: 1px solid #fd8209;
	border-radius: 3px;
	background-color: #fff;
	color: #fd8209;
	cursor: pointer;
	margin:0.5em 0.3em;
	text-align:center;
	min-width:7em;
	max-width:300px;
        padding: 0.5em 1em !important;
        font-weight: 600;
}

a.mobile-access-button {
        margin:0.75em 0.5em;
}

.menu > ul > li a.access-button:hover,
a.mobile-access-button:hover {
	background-color: #13161F;
        color: #fff;
        text-decoration: none;
        border-color: #13161F;
}

a.mobile-get-free-wallet-button,
a.mobile-access-button {
	padding:0.5em 0.75em;
	position:absolute;
}

a.mobile-access-button {
	right:5em;
}

a.mobile-get-free-wallet-button {
	right:12.8em;
}

.menu > ul > li.get-free-wallet-button a,
.menu > ul > li.access-button a {
	padding: 0.75em 1em;
        min-width:8em;
        text-align: center;
}

.menu > ul > li.coinmarketcap-currency-widget {
        flex-basis: 7em;
        padding: 0 0 0 1em;
}


/*--------------------------
Desktop styles

----------------------------*/

@media only screen and (min-width:921px) {
	
	.menu > ul {
		display: flex;
	}
		
	.menu > ul > li.top-logo-desktop a {
		padding-left: 0;
                padding-top: 8px;
                padding-bottom: 8px;
                display: flex;
                align-items: center;
        }
		
	.menu > ul > li {
		flex-grow: 1;		
	}
        
        .menu > ul > li > ul {
                top: 4.6em;
        }
	

	.menu-dropdown-icon::after {
		content: "\f123";
		font-family: "Ionicons";
		display: none;
		cursor: pointer;	
		padding: 0.6em 0;
		display: block;
		z-index: 10;
                color: #fd8209;
                position: relative;
                top: 2px;
            }
		
	.mobile-top-logo,
	.mobile-get-free-wallet-button,
	.mobile-access-button {
		display:none;
	}
		
	.menu-dropdown-icon > ul > li {		
	}
        
        ul li.top-logo-desktop img {
                width: auto;
                height: 46px;
        }
        
        ul li.top-logo-desktop h3 {
                color: #fd8209;
                font-family: Titillium Web;
                font-size: 24px;
                font-weight: 600;
                font-style: italic;
                margin: 0;
                padding: 0.1em 0.3em;
		line-height: 1.2;               	
        }
        
	
}

@media only screen and (max-width:999px) {
	.menu > ul > li.top-logo-desktop {
		flex-basis:150px;
	}
}

@media only screen and (min-width:1200px) {
/*	.menu-dropdown-icon::before {
		right: 2em;
		padding: 0.6em;
	} */
}

@media only screen and (max-width:1200px) {
	.menu > ul > li.top-logo-desktop a {
	/*	padding-left: 10px; */
	}
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width:1200px) {
    
    .menu {
        padding: 0 40px;
    }
}

@media screen and (max-width:1040px) {
    
    .menu {
        padding: 0 20px;
    }
    
    ul li.top-logo-desktop {
        margin-right: 0.5em;
    }
    
    .menu > ul > li.top-logo-desktop a {
        padding-left: 0;
        padding-right: 0;
    }
    
    .menu > ul > li a.get-free-wallet-button, 
    .menu > ul > li a.mobile-get-free-wallet-button {
        
    }
    
    .menu > ul > li.top-logo-desktop {
        flex-basis: 200px;
    }
    
    .menu > ul > li a {
        padding-right: 0.5em;
    }
}

@media only screen and (max-width: 921px) {
    
    .menu-container {
        width: 100%;
	height:4em;
    }
    .menu-mobile {
        display: block;
	height: 64px;
	cursor: pointer;
    }
    .menu-dropdown-icon:before {

    }
    
    .menu {
        padding: 0;
    }
    
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        position: relative;
    }
    .menu > ul > li a {
        padding-top: 1.5em;
        padding-bottom: 0.2em;
        width: 100%;
        display: block;
        position: relative;
        padding-left: calc(20px + 2.5em);
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 14px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
        background-color: #fff;
        border: 1px solid #fd8209;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
	
	.menu > ul > li.top-logo-desktop {
		display:none;
	}
	
	.menu-container {
		position:fixed;
                top: 0;
	}	
	
	.menu-mobile a {
		padding: 0.75em;
	}
	
	.mobile-get-free-wallet-button {
		margin-left:0;
	}
	
	.menu > ul > li.get-free-wallet-button,
	.menu > ul > li.access-button {
		display:none;
	}
	
	.menu > ul > li > ul {
		background: #fff;
                border: 0;
	}
	
	.menu > ul > li > ul {
		box-shadow: none;
	}
        
        .menu-dropdown-icon::after {
		content: "\f123";
		font-family: "Ionicons";
		display: block;
		cursor: pointer;	
		padding: 0.6em 0.2em;
		color: #fd8209;
		display: block;
		position: relative;
		top: 1em;
		right: 0;
		z-index: 10;
	}
        
        .menu > ul > li.topmenu-buttons {
            display: none;
        }
        
        .features-item::before, .guides-item::before, .articles-item::before {
            position: absolute;
        }
        
        .menu-dropdown-icon::after {
            position: absolute;
            right: 20px;
            top:1.5em;
        }
        
        .menu > ul >li:before {
            left:20px;
            display: block;
            position: absolute;
            top: 1.6em;
        }
        
        .menu > ul > li > ul.normal-sub {
            top: 0;
        }
        
        a.mobile-get-free-wallet-button {
            border: 1px solid #fd8209;
            border-radius: 0;
            color: #fff;
            cursor: pointer;
            margin: 0.75em 0.5em;
            text-align: center;
            min-width: 7em;
            max-width: 300px;
            font-weight: 600;
        }
        
        .menu > ul > li.coinmarketcap-currency-widget {
            display: block;
            margin: 1.5em 0;
        }
}

/* Small mobile screen */

@media only screen and (max-width: 560px) {
    
    .mobile-top-logo h3 {
        font-size: 19px;
        top: 0;
        left: 60px;
        letter-spacing: -0.5px;
        margin: 11px 0px 5px 10px;
        max-width: 5em;
        line-height: 1;      
    }
    
    .main-screen-buttons {
	display: block;
    }
    
    .button {
        margin: 0 auto 20px;
    }
    
    .main-screen-greeting h2 {
        line-height: 1.1;
    }
    
}

@media only screen and (max-width: 490px) {
    
    .mobile-top-logo h3 {
        font-size: 19px;
        top: 0;
        left: 60px;
        letter-spacing: -0.5px;
        margin: 11px 0px 5px 10px;
        max-width: 5em;
        line-height: 1;      
    }
    
    a.mobile-access-button,
    a.mobile-get-free-wallet-button {
        padding: 0.5em 0.5em !important;
        min-width: 5em;
        
    }
    
    a.mobile-access-button {
        right: 4em;
    }
    
    a.mobile-get-free-wallet-button {
        right: 9.6em;
    }
    
}

@media only screen and (max-width: 420px) {
    .mobile-top-logo h3 {
      font-size: 19px;
      top: 0.5em;
      left: 60px;
      letter-spacing: -0.5px;
      margin: 0 0px 0px 10px;
      max-width: 5em;
      line-height: 100%;      
    }
}

@media only screen and (max-width: 380px) {
	.menu > ul > li.get-free-wallet-button,
	.menu > ul > li.access-button {
		display:block;
	}
	
	.menu > ul > li.get-free-wallet-button a,
	.menu > ul > li.access-button a {
		max-width: calc(100% - 3em);
		margin:1.5em;
	}
	
	.mobile-get-free-wallet-button,
	.mobile-access-button {
		display:none;
	}
}
