/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

article ul {
    list-style: none; /* Убираем стандартные маркеры */
    padding: 0;
}

article ul li {
    position: relative;
    padding-left: 30px; /* Отступ для маркера */
}

article ul>li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    transform: translateY(-50%); /* Центрируем маркер */
    width: 20px; /* Ширина маркера */
    height: 18px; /* Высота маркера */
    background: url('../img/check.png') no-repeat center center;
    background-size: contain; /* Масштабируем маркер под нужный размер */
}

ol, ul {
    list-style-position: inside;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-family: "Titillium Web", Arial, sans-serif; 
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    flex-direction: column;
    font-size: 16px;
    font-family: "Titillium Web", Arial, sans-serif;
    background:#fff;
    box-sizing: border-box;
    color: #212529;
    font-size: 16px;
    line-height: 1.4em;
}



/* Main content */

article section:first-child {
    margin-top: 64px;
    min-height: calc(100vh - 169.2px);
    
}

.main-content {
    width:100%;
}

article section.main-screen {
    min-height: calc(100vh - 4em);
    width: 100%;
    background: 50% 50% / cover no-repeat url("../img/main-bg.png") #000;
    overflow: hidden;  
}

.main-screen-content {
    max-width: 1420px;
    margin: auto;
    padding: 30px 100px; 
}

.main-screen-logo-container {
    text-align: center;
}

.main-logo {
    width:100px;
    height:auto;
}

.main-screen-greeting h1 {
    color: #fd8209;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 30px 0 0;
    line-height: 1;
    
    -webkit-text-shadow: 0px 0px 20px rgba(253,  130,  9, 0.9);
    -moz-text-shadow: 0px 0px 20px rgba(253,  130,  9, 0.9);
    text-shadow: 0px 0px 20px rgba(253,  130,  9, 0.9);
}

.main-screen-greeting h2 {
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: #f5f5f5;
    margin: 0;
    padding: 30px 0 0;
    line-height: 1;
}

.main-screen-greeting p {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: #f5f5f5;
    margin: auto;
    padding: 30px 0 0;
    max-width: 600px;
    display: block;
    
}

.main-screen-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    gap: 30px;
}

.button {
    display: flex;
    padding: 12px 10px;
    flex: 1 1 10em;
    text-align: center;
    border: 1px solid #fd8209;
    max-width: 16em;  
    cursor: pointer;
    justify-content: center;
    gap: 10px;
}

.button span {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.button img {
    height: 40px;
    width: auto;
}

.generate-wallet {
    background: #fd8209;   
    color: #fff;
    border-radius: 4px;
}

.open-wallet {
    background: #fff;
    color: #fd8209;
    border-radius: 4px;
}

.button:hover {
    background: #13161F;
    border: 1px solid #fd8209;
    -webkit-box-shadow: 0px 5px 19px 1px rgba(253,130,9,0.5); 
    box-shadow: 0px 5px 19px 1px rgba(253,130,9,0.5);
}

.generate-wallet:hover span {  
    color: #fff;   
}

.open-wallet:hover span {
    color: #fd8209;
}

.main-screen-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 900px;
    margin: 120px auto 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.main-screen-features div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 22px;
    font-style: italic;
    color: #f5f5f5;
}

.main-screen-features div:before {   
    content: "";
    display: block;
    width: 1.75em;
    height: 1.75em;
}

.non-custodial:before {
    background: left top / contain no-repeat url("../img/non-custodial-icon.png"); 
}

.secure:before {
    background: left top / contain no-repeat url("../img/secure-icon.png"); 
}

.fast:before {
    background: left top / contain no-repeat url("../img/fast-icon.png"); 
}

.coinmarketcap-currency-widget {
    flex-basis:3em; 
    min-width:3em;
}

body span.n_extchange {
    font-size:15px;
    padding-right: 6px;
}

body .n_extchange + span span {
    font-size:15px;
}

article p,
article ol,
article ul {
    padding: 0.4em 0;
    line-height: 1.5em;
} 

article ul li {
    padding-bottom:0.2em;
}

article ol li strong {
    padding-left: 1em;
}

article a {
	color: #fd8209;
	text-decoration: none;
	background-color: transparent
}

.toc {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
.toc ul {
    list-style: none;
    padding-left: 0;
}
.toc ul li {
    margin-bottom: 5px;
}
.toc a {
    text-decoration: none;
    color: #007bff;
}
.toc a:hover {
    text-decoration: underline;
}

/* Footer */

.footer {
    margin-top: auto;
    background: 50% 50% / cover no-repeat url("../img/footer-bg.png") #000;
}

.foot-note {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-col-vertical-bottom, .flex-space-between {
    display: flex;
}

.content-block {
    max-width: 1420px;
    margin: auto;
    padding: 30px 100px;
}

.flex-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.foot-note .links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.foot-note > div {
	margin-bottom: 0;
}

.foot-note .links div:first-child {
	padding-left: 0;
}

.foot-note .links div {
	border-right: 1px solid #fff;
	padding: 0 15px;
}

a:active, a:hover, a:link, a:visited {
	text-decoration: none;
}

.foot-note .links span {
	color: #fff;
}

.foot-note .links div:last-child {
	border-right: 0;
}

.foot-note .copyright {
	text-align: left;
	width: 55%;
}

.foot-note .copyright p {
	color: #96a8b6;
}

.foot-note .copyright a {
	color: #fff;
        white-space: nowrap;
}

/* Content blocks */

.content-block {
        max-width: 1200px;
        margin: auto;    
}

.content-block h1 {	
	font-size: 36px;
	font-weight: 800;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	line-height: 1;

}

.content-block h2 {
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	line-height: 1;
        text-align: left;
}

.content-block h3 {
	font-size: 24px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 15px 0 15px;
	line-height: 1;
        text-align: left;
}

.content-block h4 {
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 15px 0 15px;
	line-height: 1;
        text-align: left;
}

.content-block .wallet-feature h4 {
        font-style: normal;
        text-align: center;
}

.s-dark {
        background: 50% 50% / cover no-repeat url("../img/main-bg.png") #000;
}

.s-dark h1, .s-dark h2, .s-dark h3, .s-dark h4, .s-dark h5, .s-dark h6 {
        color: #fd8209;
        -webkit-text-shadow: 0px 0px 20px rgba(253, 130, 9, 0.9);
	-moz-text-shadow: 0px 0px 20px rgba(253, 130, 9, 0.9);
	text-shadow: 0px 0px 20px rgba(253, 130, 9, 0.9);
        
}

.s-dark p, .s-dark ol li, .s-dark ul li {
        color: #f5f5f5;
}

.wallet-feature img {
    width: 72px;
    height: 72px;
}

.s-light h1, .s-light h2, .s-light h3, .s-light h4, .s-light h5, .s-light h6 {
    color: #fd8209;
    -webkit-text-shadow: shadow-none;
    -moz-text-shadow: shadow-none;
    text-shadow: shadow-none;
        
}

.s-light .wallet-feature h4 {
    color: #000;
}

.s-light .wallet-feature p {
    color: #666;
    text-align: justify;
}

.features-block {
    margin: 20px 0;
}



@media only screen and (max-width:1024px) {
    
    .foot-note {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	border-top: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 0;
    }
    
    .foot-note .links {
	-webkit-box-ordinal-group: 2;
	order: 1;
	text-align: center;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
    }
    
    .foot-note > div {
	margin-bottom: 20px;
    }
    
    .foot-note .links div {
	border-right: 1px solid #fff;
	padding: 0 15px;
    }
    
    .foot-note .links a:last-child span {
	margin-right: 0;
	padding-right: 0;
    }
    
    .foot-note .copyright {
        text-align: center;
        width: 100%;
    }
    
    .content-block {
        padding: 40px 20px;
    }

}

@media (max-width: 768px) and (min-width: 600px) {
    
    .wallet-feature .text-center {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .content-block .features-block h4 {
        padding-top: 0;
        text-align: left;
    }
}

@media only screen and (max-width:740px) {
    
    .main-screen-content {
	padding: 30px 50px;
    }
    
    .main-screen-features {
	max-width: 540px;
    }
    
    .main-screen-buttons {
        gap: 20px;
    }
    
    .button {
        max-width: 18em;  
    }

}

@media only screen and (max-width:600px) {
    
    .main-screen-content {
	padding: 30px 30px;
    }
    
    .main-screen-features {
	max-width: 480px;  
    }
    
    .main-screen-features div {
	font-size: 20px;
    }
    
    .main-screen-features div::before {
	width: 1.5em;
	height: 1.5em;
    }
    
    .features-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .wallet-feature img {
	width: 64px;
	height: 64px;
    }

}

@media only screen and (max-width:490px) {
    .main-screen-features {
        display: block;
        max-width: 12em;
        margin: 60px auto 0;
    }
    
    .main-screen-features div {
        margin-bottom: 10px;
        font-size: 22px;
    }
    
    .main-screen-features div::before {
        width: 1.5em;
        height: 1.5em;
    }
}

