noscript {
  align-items: center;
  display: flex;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-display: block;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

noscript > .text-container {
  display: flex;
  flex-direction: column;
}

p,
h1,
h3 {
  margin: 5px 10px;
}

noscript > .img-container > img {
    height: 200px;
}


body {
    background:#fff;
}

#app {
    min-height: calc(100vh);
    padding-top: 4.7em;
    width: 100%;
    background: #252525;
}

.home {
    max-width: 1420px;
    margin: auto;
    padding: 4% 100px;
}

.content-block {
    max-width: 1340px;
    margin: auto;
    padding: 40px 100px;
}

article .content-block p,
article .content-block a, 
article .content-block li {
    font-size: 17px;
    line-height: 1.4em;
}

article .content-block ul,
article .content-block ol {
    padding-bottom: 1em;
}

article .content-block li {
    color: #506175;
    list-style-position: inside;
}

article .content-block a {
    color: #e64946;
    font-weight: 500;
}

article .content-block a:hover {
    color: #2a6496;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    margin-top: 3em;
}
  
.laptop-img {
    max-width: 600px;
    display:block;
}
  
.phone-img {
    max-width: 250px;
    display: none;
}


.main-content {
    background-color: #fff;
    /* margin-top:50px; */
	
}

.main-content p {
	/* color: #1a8639; */
}

.content-outer:nth-child(1) {
    background: #fff;
}

.content-outer:nth-child(2n) {
    background: #eff2fc;
} 

.first-section {
    display: flex;
}

.first-section ul li {
    list-style: none; 
    display: flex;
    align-content: center;
    line-height: 1.6em;
    margin-bottom: 1em;
    font-size: 18px;
}

.first-section ul li::before {
    background-image: url('../img/check-mark.png');
    background-size: cover;
    margin-right: 1em;
    width: 25px;
    height: 25px;
    min-width: 25px;
    content: " ";
    display: inline-block;
}

.first-section .left-section {
    width: 60%;
}

.first-section .right-section {
    width: 40%;
    min-width: 300px;
}

.first-section .right-section img {
    max-height: 600px;
    width: 100%;
    height: auto;
    max-width: 350px;
}

.first-section .left-section {
    padding-top: 30px;
}

.content-block h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 25px;
}

.content-block.fourth-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content-block.fourth-section h2 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.content-block h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.content-block h3 {
    margin: 10px 0;
    font-weight: 700;
}

.top-banner {
    position:relative;
    z-index: 5;
}

.top-banner .wrap {
    display: flex;
    align-items: center;
}

.top-content-container-main {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.top-content-logo {
    width: 100px;
    height: auto;
    margin-bottom: 3em;
}

.top-logo {
    width: 100px;
    height: auto;
}

.banner-text {
	max-width: 620px;
	margin: auto;
}

.device-container {
    width:52%;
    margin-left:4%;
}

.device-container img {
    width: 100%;
    height: auto;
    margin: auto;
}

.second-section h2 {
    text-align: center;
}

.fourth-section p {
    padding-bottom: 1em;
}

.content-outer:nth-child(1) {
    background: #fff;
}

.content-outer:nth-child(2n) {
    background: #eff2fc;
} 

.Footer_main {
    background-color: #000033;
	padding: 40px 0 20px;
}
.Content_footer {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	/* justify-content: space-between; */
}
.column_footer a {
    color: #fff;
	border-left: 1px solid #fff;
	display: inline-block;
}
.Links_footer {
    width: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.Links_footer a {
    padding: 0px 15px 0px 15px;
	color: #ffffff;
}

.main-header {
    margin-top:180px;
    text-align:center;
	/* display: none; */
}


.Text_blocks_main{
	text-align: left;
	margin: 50px 0 0 0;
}

.Text_blocks_main p {
	margin:0;
	line-height: 28px;
}

.subblock_wide {
	max-width: 100%;
	display: inline-block;
	vertical-align: text-top;
	vertical-align: top;
	padding: 1.5%;
	text-align: left;

	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.05);
	box-shadow: 0 5px 15px rgba(0,0,0,.05);
	border: 1px solid #baede6;
	border-radius: 10px;
	/* box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12) !important; */
}

.vertical_subblock_main{
	max-width: 49%;
	/* min-height: 550px; */
	display: inline-block;
	vertical-align: text-top;
	vertical-align: top;
	/* margin: 2% 2% 2% 0; */
	padding: 2.5%;
	text-align: left;
	
}
.vertical_subblock_main2{
	max-width: 49%;
	/* min-height: 550px; */
	display: inline-block;
	vertical-align: text-top;
	vertical-align: top;
	/* margin: 2% 2% 2% 0; */
	padding: 2.5%;
	text-align: left;
	
}
.Text_bottom_main{
	max-width: 50%;
	display: inline-block;
	vertical-align: text-top;
	vertical-align: top;
	/* margin:  0 2% 0 2%; */
	text-align: left;
	/* margin: 0 0 20px 0; */
	padding: 0 4% 0 0;
}
.card-content{
	display: none;
}
.group_subblock_main{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 49%;
}
.group_subblock_main2{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.card-image img{
	max-width: 60px;
}
.vertical_subblock_main img{
	max-height: 70px;
	margin: 0 0 20px 0;	
}
.textblok2_main p{
	font-size: 22px;
	font-weight: bold;
}
.textblok3_main p{
	font-size: 18px;
	font-weight: bold;
}
.videoblok_main {
	margin: 50px 0 50px 0;
}
.videoblok_main {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
  margin: 5%;
  
}
.videoblok_main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.subsub_main h4{
	margin: 0 0 15px 0;
}
.subsub_main2 h4{
	margin: 0 0 15px 0;
}

.bootstrap-modal.modal-software {
  padding-bottom: 40px;
  max-width: 550px;
  margin: auto;
}

.os-banner {
    display: none;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;
    margin: 6% auto 20px;
    padding: 0 20px;
    max-width: 420px;
}

.os-banner div {
    font-size: 18px;
    display: flex;
    align-content: center;
    align-items: center;
}

.win-os::before,
.mac-os::before,
.android-os::before {
    display: block;
    margin:0 5px;
    background-size: contain;
    width: 45px;
    height: 45px;
    content: " ";
}

.win-os::before {
    background-image: url("../img/os-logos/windows.png");
}

.mac-os::before {
    background-image: url("../img/os-logos/mac-os-logo.png");
}

.android-os::before {
    background-image: url("../img/os-logos/android-logo.png");
}

.your-password {
    background: transparent;
    min-height: calc(100vh - 100px);
    padding-bottom: 40px;
}

.white {
    background-color: #fff;
}

.light-grey {
    background-color: #eff2fc;
}

.why-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
}
    
.why-section div {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    padding: 20px;
    display: block;
    border: 1px solid #e9ebf4;
    border-radius: 4px;   
    -webkit-box-shadow: 0px 6px 17px 10px rgba(190, 192, 202, 0.2);
    -moz-box-shadow: 0px 6px 17px 10px rgba(190, 192, 202, 0.2);
    box-shadow: 0px 6px 17px 10px rgba(190, 192, 202, 0.2);
}

.why-section div:nth-child(odd) {
    margin-right: 15px;
}

.why-section div:nth-child(even) {
    margin-left: 15px;
}

.why-section div img {
    display: block;
    width: 50px;
    height: auto;
    margin: 0 auto 10px;
}
       

@media (min-width: calc(1401px)) {
 .top-content-container-main .promo-cards .card-block .title h3[data-v-5882880b] {
    font-size: 24px;
    margin-top: 15px;
  }
}

@media (max-width: 1401px) {
 .top-content-container-main .promo-cards .card-block .title h3[data-v-5882880b] {
    font-size: 21px;
    margin-top: 15px;
  }
  
  .card-image img {
    max-width: 55px;
  }
}

@media (max-width: 1280px) {
 .top-content-container-main .promo-cards .card-block .title h3[data-v-5882880b] {
    font-size: 20px;
    margin-top: 12px;
  }
  
  .card-image img {
    max-width: 50px;
  }
}


/* Mobile resolutions*/

@media screen and (max-width: 1200px) {
  
  .home {
    padding: 6% 40px;
  }
  
  .content-block {
      padding: 40px;
  }

}

@media screen and (max-width: 1200px) {
  #app {
    margin-top: 0;
  }
  
  .phone-img {
      display: block;
  }
  
  .laptop-img {
      display: none;
  }
  
  .top-content-container-main {
      width: 65%;
  }
  
  .device-container {
      width: 35%;
  }
}

@media screen and (max-width: 921px) {
  
  .top-content-container-main {
      width: 70%;
  }
  
  .device-container {
      width: 30%;
  }
  
  .os-banner {
      max-width: 300px;
      margin-top: 10%;
  }
  
  .win-os::before,
  .mac-os::before,
  .android-os::before {
      width: 40px;
      height: 40px;
  }
  
  .first-section .right-section {
      min-width: 200px;
  }
}

@media screen and (max-width: 780px) {
    .device-container {
        margin-left: 35px;
    }
    
    .os-banner {
        margin-top: 15%;
    }
}

@media screen and (max-width: 720px) {
  .device-container {
       margin-left: 45px;
  }
  
  
}

@media screen and (max-width: 681px) {
    
    .home {
        padding: 15% 40px;
    }
  
    .top-content-container-main {
        width: 100%;
    }
    
    .device-container {
        display: none;
    }
    
    .os-banner {
        margin-top: 20%;
    }
    
    .first-section {
        display: block;
    }
    
    .first-section .left-section {
        width: 100%;
    }
    
    .first-section .right-section {
        width: 100%;       
    }
    
    .first-section .right-section img {
        max-height: 480px;
        max-width: 280px;
        display: block;
        margin: auto;
    }
    

    
}

@media screen and (max-width: 520px) {
    .top-content-container-main .promo-cards .card-block .title h3[data-v-5882880b] {
        margin-left: 10px; 
    }
    
    .os-banner {
        max-width: 240px;
  }
  
    .win-os::before,
    .mac-os::before,
    .android-os::before {
       width: 35px;
       height: 35px;
  }
  
   .why-section div:nth-child(1n),
   .why-section div:nth-child(2n) {
       margin-right: 0;
       margin-left: 0;
       width: 100%;
   }
   
   .why-section div img {
       width: 40px;
   }

}

@media screen and (max-width: 480px) {
  
  .home {
       padding: 10% 20px;
  }
  
  .content-block {
       padding: 40px 20px;
  }
  
  .top-content-logo {
       margin-bottom: 2em;
  }
  
}

@media screen and (max-width: 414px) {
  

   
}

article.inner-page {
  padding-top: 60px;
  background: #252525;
  min-height: calc(100vh - 123px);
}

article.inner-page h1,
article.inner-page h2,
article.inner-page h3,
article.inner-page p,
article.inner-page ol li,
article.inner-page ul li {
  color: #fff;
}

article.inner-page .content-outer {
    background: transparent;
}

.fourth-section ul li {
    list-style-type: square;
    list-style-position: inside;
    color: #506175;
}

.fourth-section ol {
    padding-bottom: 12px;
}

.fourth-section ol li {
    list-style-position: inside;
    color: #506175;
}

.header[data-v-5f6d385c] {
    display:none;
}

.loaded.interface .header[data-v-5f6d385c] {
    display:block;
}

.loaded.interface header {
    display:none;
}

.interface #app {
    background: none;
}

.fourth-section ul.features-list li {
    list-style: none;
    display: flex;
    align-content: center;
    line-height: 1.8em;
    margin-bottom: 1em;
    font-size: 16px;
}

.fourth-section ul.features-list li:before {
    background-image: url('../img/check-mark.png');
    background-size: cover;
    margin-right: 1em;
    width: 25px;
    height: 26px;
    min-width: 25px;
    content: " ";
    display: inline-block;
}

ol.manual-list li {
    line-height: 2em;
}

.nav-tab-user-input-box #__BVID__61__BV_tab_controls_ {
    display: none;
}

.page-title h2 {
    color: #fff;
}

.page-title h5 {
    color: #d02d04;
}






