html, body {
	height: 100%;
}

body {
	background-color:#ffffff;
}

.displaynone {
	display:none;
}

#wrap {
	height: auto;
	/* Negative indent footer by its height */
	margin: 64px auto 0;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
        
        min-height: calc(100vh - 64px) ;
	width: 100%;
	background: 50% 50% / cover no-repeat url("../img/main-bg.png") #000;
}


#wallet {
    margin: 80px auto;
}

#openLogin {
    margin: auto;
    width: 100%;
    max-width: 800px;
}


#footer {
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 20px;
}

.alert {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
}

#fees .txi_regular {
	background: #d3d3d3;
}

#fees .txi_segwit {
	background: #bae1ff;
}

#fees .txi_multisig {
	background: #baffc9;
}

#fees .txi_hodl {
	background: #ffdfba;
}

#fees .txi_unknown {
	background: #ffb3ba;
}

#fees .txo_p2pkh {
	background: #E679C8;
}

#fees .txo_p2sh {
	background: #FAFE92;
}

#fees .txinputs {
}

#fees .txoutputs {
}

.hideOverflow {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#fees .slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 30px;
	outline: none; 
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border: 2px dotted #c3c3c3;
}

#fees .sliderbtn {
	height: 30px;
	width: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#fees .slider:hover {
	opacity: 1;
}

#fees .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 32px;
	height: 32px;
	border: 0;
	background: url('');
	cursor: pointer;
}

#fees .slider::-moz-range-thumb {
	width: 32px;
	height: 32px;
	border: 0;
	background: url('');
	cursor: pointer;
}

#fees .total {
	font-size: 100px;
}



#create-wallet-your-seed{
	background: #fff;
	color: #404755; 
	border-color: #d8dbe5;
}
#create-wallet-your-seed[readonly]{
	background: #f4f4f7;
}

.form_select{
	padding-top: 10px;
	margin-left: 0!important;
	margin-right: 0!important;
}
.form_select.active{
	display: none;
}







.balance_usd{
    font-size: 12px;
    color: #333;
}
.amound_usd{
    font-size: 12px;
    color: #333;
}

.form-horizontal.output{
margin-bottom: 25px;
}



#qrscan{
	display: inline-block;
	color:#555
}

.qrimage{
	width: 200px;
}
