* {
	outline: none!important;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;

	background-color: #ffffff;
}

.wrapper {
	min-height: 100vh;
  overflow: hidden;
}

.bg-cyan {
	background-color: #ffffff;
	color: #000000;
}


/*
 * Def-page \/
*/
.main {
	padding-top: 50px;
	padding-bottom: 40px;
	overflow-x: hidden;
}

.bg-cyan .main {
	padding-top: 80px;
	padding-bottom: 80px;
	overflow-x: hidden;
}

.content-page {
	padding-top: 70px;
}

.content-page img
{
    padding: 35px;
}

.def-page__content > *:last-child {
	margin-bottom: 0;
}

.def-page__title-wrap {
	text-align: center;
}

.def-page__title,
.content-page h1 {
	position: relative;
	display: inline-block;
	margin-bottom: 60px;
	
	font-size: 40px;
  font-weight: 900;
  line-height: 1.25;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
}

.def-page__title--first-line {
	display: block;
}

.home .def-page__title-wrap {
	margin-bottom: 70px;
}

.def-page__title--icon {
	margin-bottom: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 165px;
}

.def-page__title--icon::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 129px;
	height: 129px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	transform: translateY(-50%);
}


.def-page__subtitle,
.content-page h2 {
	margin-bottom: 62px;
	font-size: 24px;
	line-height: 1.5;
}

.def-p-title {
	display: block;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.88;
}

.def-list-zero {
	margin: 0;
	padding: 0;
	list-style: none;
}

.def-p {
	margin-bottom: 16px;
	line-height: 1.88;
	color: #40444d;
}

.bg-cyan .def-p {
	color: #bed5ff;
}

.def-p:last-child {
	margin-bottom: 0;
}

.def-page__link {
	color: #ffa61a;
}

.def-page__link:hover {
	text-decoration: none;
	color: rgba(249,130,6, 0.7);
}

.def-page__wrap-img {
	margin: 25px 0;
	border-radius: 10px;

	overflow: hidden;
	text-align: left;
}

.def-img {
	max-width: 100%;
	height: auto;
}


/*
 * Home \/
*/
.home__first,
.block-first {
	width: 100%;
	max-width: 777px;
	margin-right: auto;
	margin-bottom: 65px;
	margin-left: auto;
}

.home__first-row {
	display: flex;
	flex-wrap: nowrap;

	margin-bottom: 42px;
}

.home__wrapper-title {
	min-width: 465px;
	margin-right: 50px;
}

.home__first-main-picture {
	position: relative;
	top: -17px;
	width: 100%;
	min-width: 315px;
	height: 350px;
	background-image: url(../img/wallet-main.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.home__first-list {
	display: flex;
	flex-wrap: wrap;
}

.home__first-item {
	flex: 1;

	padding: 30px 39px;
	border-radius: 20px;
	background-color: #0a43ae;

	font-size: 18px;
	line-height: 1.89;
	color: #FFFFFF;

	transition: background-color 0.35s;
}

.home__first-item:hover {
	background-color: #1a55c5;
}

.home__first-item:first-of-type {
	margin-right: 35px;
}

.home__first-item-wrapper {
	width: 100%;
	height: 100%;
}

.home__first-item-wrapper:hover {
	text-decoration: none;
}

.home__first-item-title {
	position: relative;
	margin-bottom: 12px;
	padding-left: 38px;
	
	font-weight: bold;
	color: #FFFFFF;
}

.home__first-item-title--wrallet::before,
.home__first-item-title--login::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;

	width: 24px;
	height: 21px;
	background-image: url(../img/icon-wallet.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	transform: translateY(-50%);
}

.home__first-item-title--login::before {
	width: 24px;
	height: 24px;
	background-image: url(../img/icon-user.svg);
}

.home__first-item-text {
	margin-bottom: 12px;

	font-size: 16px;
	line-height: 1.63;
	color: #bed5ff;
}

.home__first-item-wrapper-link {
	text-align: center;
}

.home__first-item-link {
	position: relative;
	display: inline-block;
	padding-right: 24px;

	color: #FFFFFF;

	transition: color 0.35s;
}

.home__first-item-link::before {
	content: '→';
	position: absolute;
	top: 50%;
	right: 0;

	transform: translateY(-50%);
}

.active-tab-create-wallet .home__first {
	margin-bottom: 120px;
}

.home__title-tab {
	display: none;
}

.home__title {
	margin-bottom: 16px;
	
	font-size: 60px;
	line-height: 1.2;
	color: #ffffff;
}

.home__subtitle,
.block-first__subtitle  {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.5;
	color: #79a2ee;
}

.home__forms {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 10px 25px 0 rgba(46, 38, 121, 0.05);
}

.home__nav-tabs {
	display: flex;
	background: #003597;
}

.home__nav-item {
	width: 50%;
}

/*
 * Form \/
 */
.form__label {
  display: flex;
  flex-wrap: wrap;
	margin-bottom: 25px;
}

.hide {
	display: none;
}

.form__label-text {
	display: block;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 0.71;
	color: rgba(71,78,93,0.5);
}

.form__textarea {
	width: 100%;
	height: 80px;
	padding: 9px 20px;
	border-radius: 5px;
  border: solid 1px #d9dce7;
  background-color: #ffffff;

  font-size: 16px;
  line-height: 1.75;
  color: #474e5d;
}

.wrap-for-copy-print .form__textarea {
	padding-right: 61px;
}

.form__textarea--description {
	height: 100px;
}

.form__textarea:hover,
.form__text-input:hover {
	border-color: #c6cbdb;
}

.form__textarea:focus,
.form__text-input:focus {
	box-shadow: 0 0 10px 0 #c6cbdb;
  border-color: #b5bbd0;
}

.form__textarea::-webkit-input-placeholder,
.form__text-input::-webkit-input-placeholder {
  color: rgba(71, 78, 93, 0.3)!important;
}
.form__textarea::-moz-placeholder,
.form__text-input::-moz-placeholder {
  color: rgba(71, 78, 93, 0.3)!important;
}
.form__textarea:-ms-input-placeholder,
.form__text-input:-ms-input-placeholder {
  color: rgba(71, 78, 93, 0.3)!important;
}
.form__textarea::-ms-input-placeholder,
.form__text-input::-ms-input-placeholder {
  color: rgba(71, 78, 93, 0.3)!important;
}
.form__textarea::placeholder,
.form__text-input::placeholder {
  color: rgba(71, 78, 93, 0.3)!important;
}

.form__textarea:disabled,
.form__text-input:disabled {
	border-color: #d9dce7;
	background-color: #f5f7f9;
	color: rgba(71 ,78, 93, 0.7);
}

.form__textarea.form__textarea--error,
.form__text-input.form__text-input--error {
	border-color: #ff0000;

	color: #ff0000;
}


#receive-address {
  display: block;
	width: 100%;
	padding: 13px 20px;
	border-radius: 5px;
	border: solid 1px #d9dce7;
  background-color: #ffffff;
  background-repeat: no-repeat;
	background-position: center right 20px;

  font-size: 17px;
  line-height: 1.75;
  color: #474e5d;
}

.form__text-input {
	display: block;
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	border: solid 1px #d9dce7;
  background-color: #ffffff;
  background-repeat: no-repeat;
	background-position: center right 20px;

  font-size: 16px;
  line-height: 1.75;
  color: #474e5d;
}

.form__text-input--max {
	background-image: url(../img/max.svg);
}

.form__text-input--btc.form__text-input--max {
	padding-left: 61px;
	background-image: url(../img/max.svg), url(../img/btc-icon.svg);
	background-position: center right 20px, center left 20px;
}

.form__text-input--btc {
	padding-left: 61px;
	background-image: url(../img/btc.svg), url(../img/btc-icon.svg);
	background-position: center right 20px, center left 20px;
}

.form__text-input--hide {
	position: absolute;
	
	width: 100%;
	margin-bottom: 0;

	opacity: 0;
	visibility: hidden;
}

.form__checkbox.hide + .form__text-input--hide {
	position: static;
	opacity: 1;
	visibility: visible;
}

.wrap-for-copy {
	position: relative;
}

.wrap-for-copy .form__text-input {
	padding-right: 64px;
}

.wrap-for-copy .btn-copy {
	border-radius: 0 5px 5px 0;
}

.error__message {
	width: 100%;
	margin-top: 10px;
	padding: 5px 15px;
	border-radius: 5px;
  background-color: rgba(255,0,0, 0.6);

	font-size: 14px;
 	line-height: 0.71;
  color: #ffffff;
}

.error__notification {
	position: fixed;
	z-index: 1;
	top: 97px;
	right: 30px;
	max-width: 373px;
	padding-top: 15px;
	padding-right: 34px;
	padding-bottom: 15px;
	padding-left: 75px;
	border-radius: 10px;
  background-color: #ff6262;

  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.error__notification::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../img/error-icon.svg) no-repeat center;
	background-size: contain;

	transform: translateY(-50%);
}

.error__notification-close {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 20px;
	height: 20px;
	background: url(../img/close-icon.svg) no-repeat center;

	cursor: pointer;
}

.form__select {
	display: block;
	width: 100%;
	padding: 12px 20px;
	padding-right: 70px;
  border: solid 1px #d9dce7;
  border-radius: 5px;
  background: url(../img/arrow-down-icon.svg) no-repeat right;
  background-size: contain;
  box-shadow: 0 5px 5px 0 rgba(172, 180, 197, 0.15);
	
	font-size: 16px;
  color: #474e5d;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__select:hover {
	border-color: #c6cbdb;
}

.btn-active {
	position: relative;
	z-index: 1;
	display: block;
	/* width: 100%; */
	padding: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 3px;
	background-color: #fd8209;
        box-shadow: 0 10px 25px 0 rgba(255, 128, 26, 0.4);
	text-transform: uppercase;
 	font-size: 16px;
        font-weight: 700;
        line-height: 0.71;
        letter-spacing: 1px;
        color: #ffffff;
}

.btn-active:hover {
	background: #13161F;
        border: 1px solid #fd8209;
        -webkit-box-shadow: 0px 5px 19px 1px rgba(19,22,31,0.5);
        box-shadow: 0px 5px 19px 1px rgba(19,22,31,0.5);
}

.btn-active:disabled {
	opacity: 0.3;
	background-color: #f98206;
}

.btn-reset {
	margin-right: 15px;
	padding: 16px 25px;
	padding-bottom: 16px;
	border: 0;
	border-radius: 5px;
  background: #706f6f;

	text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 0.71;
  letter-spacing: 1px;
  color: #ffffff;
}

.btn-reset:hover {
	background: #7f7e7e;
}

.btn-reset:disabled {
	background: rgba(0,53,151,0.1);
}

.form__wrap-btns {
	display: flex;
}

.wrap-for-copy-print {
	position: relative;
}

.btn-copy,
.btn-pkey,
.btn-print,
.btn-qr,
.btn-max {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #d9dce7;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;

  cursor: pointer;
}

.btn-copy {
	background-image: url(../img/copy.svg);
}

.btn-pkey {
	background-image: url(../img/pkey.svg);
}

.view.btn-copy2::before {
	position: absolute;
	top: 50%;
	margin-left: -4px;
  border: 6px solid transparent;
  border-right: 6px solid rgba(0, 0, 0, 0.8);

  transform: translateY(-50%);
}

.view.btn-copy2::after {
	content: 'Copied!';
	position: relative;
	z-index: 1;
	top: 50%;
	margin-left: 8px;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 6px;
    text-decoration: none;
	background: rgba(0, 0, 0, 0.8);

	font-size: 12px;
	line-height: 0.83;
  color: #ffffff;

	transform: translateY(-50%);
}

.view.btn-copy::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-left: -4px;
  border: 6px solid transparent;
  border-right: 6px solid rgba(0, 0, 0, 0.8);

  transform: translateY(-50%);
}

.view.btn-copy::after {
	content: 'Copied!';
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 100%;
	margin-left: 8px;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.8);

	font-size: 12px;
	line-height: 0.83;
  color: #ffffff;

	transform: translateY(-50%);
}

.btn-print {
	background-image: url(../img/print.svg);
}

.btn-qr {
	background-image: url(../img/qrcode-icon.svg);
	background-size: 26px 26px;
}

.form__nav-options-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.form__nav-options-wrap .form__label-text {
	margin-bottom: 0;
}

.form__nav-options {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
}

.form__option {
	margin-right: 20px;
	font-size: 14px;
	line-height: 0.71;
	color: #225fcf;
	cursor: pointer;
}

.form__option:hover {
	color: rgba(34, 95, 207, 0.7);
}

.form__option:last-of-type {
	margin-right: 0;
}

.form__option--generate {
	font-weight: 700;
}

.form__radio-wrap,
.form__checkbox-wrap {
	width: 100%;
	height: 0;

	overflow: hidden;
	opacity: 0;
	transition: opacity 0.35s linear;
}

.form__radio-wrap.open,
.form__checkbox-wrap.open {
	height: auto;

	overflow: visible;
	opacity: 1;
}

.form__radio {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 2px;
	cursor: pointer;
}

.form__radio:hover .form__radio-box,
.form__checkbox:hover .form__checkbox-box {
	border-color: #c6cbdb;
}

.form__radio:first-of-type {
	padding-top: 15px;
}

.form__radio:last-of-type {
	margin-bottom: -4px;
}

.form__radio-input,
.form__checkbox-input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form__radio-box,
.form__checkbox-box {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
  border: solid 1px #d9dce7;
  border-radius: 12px;
  background-color: #ffffff;

  transition: border 0.35s;
}

.form__radio-label,
.form__checkbox-label {
	display: block;
	font-size: 16px;
	line-height: 1.75;
	color: rgba(71, 78, 93, 1);	
}

.form__radio-input:checked + .form__radio-box,
.form__checkbox-input:checked + .form__checkbox-box {
	border-color: #474e5d;
}

.form__radio-box::before,
.form__checkbox-box::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #474e5d;
	overflow: hidden;
	opacity: 0;

	transition: all 0.35s;
	transform: translate(-50%, -50%);
}

.form__radio-input:checked + .form__radio-box::before,
.form__checkbox-input:checked + .form__checkbox-box::before {
	width: 10px;
	height: 10px;
	overflow: visible;
	opacity: 1;
}

.form__radio-input:checked + .form__radio-box + .form__radio-label,
.form__checkbox-input:checked + .form__checkbox-box + .form__checkbox-label {
	color: #474e5d;
}


.form__nav-options-wrap--checkbox {
	height: 20px;
	margin-bottom: 10px;
}

.form__checkbox-wrap {
	display: flex;
	width: 0;
}

.form__checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	margin-left: 20px;
}

.form__checkbox-wrap.open {
	width: auto;
}

.form__checkbox-box {
	border-radius: 5px;
}

.form__checkbox-box::before {
	width: 11px;
	height: 9px;
	background: url(../img/check-icon.svg) no-repeat center;

	transition: none;
}

.form__checkbox-label {
	font-size: 14px;
	line-height: 1.43;
}


.block-first {
	margin-bottom: 15px;
}

.block-first__title {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.block-first__subtitle {
	margin-bottom: 30px;
	text-align: center;
	color: #79a2ee;
	
}

.subtitle__link {
	color: #FFFFFF;
}

.subtitle__link:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.block-first__list {
	display: flex;
	margin-bottom: 40px;
}

.block-first__item {
	flex: 1;

	position: relative;
	margin-right: 35px;
	padding-top: 97px;
	padding-right: 20px;
	padding-bottom: 23px;
	padding-left: 20px;
	border: 1px solid #0643b8;
	border-radius: 10px;
	box-shadow: 0 10px 25px 0 rgba(46, 38, 121, 0.05);

	text-align: center;
	  
	transition: background-color 0.35s, border-color 0.35s;

	cursor: pointer;
}

.block-first__item:last-of-type {
	margin-right: 0;
}

.block-first__item::after {
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;

	width: 20px;
	height: 20px;
	border: solid 5px #FFFFFF;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0 0 1px 1px #FFFFFF;
}

.block-first__item--plant::before,
.block-first__item--key::before,
.block-first__item--file::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 50%;

	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #0a43ae;
	background-image: url(../img/icon-plant.svg);
	background-repeat: no-repeat;
	background-position: center;

	transform: translateX(-50%);
}

.block-first__item--key::before {
	background-image: url(../img/icon-key.svg);
}

.block-first__item--file::before {
	background-image: url(../img/icon-disket.svg);
}

.inline-block {
	display: inline-block;
}

.block-first__form-item {
	display: none;
	padding: 40px;
	background-color: #ffffff;
	border-radius: 6px;
	/* border: solid 1px #000000; */
  	box-shadow: 0 10px 25px 10px rgba(46, 38, 121, 0.15);
}


.active.block-first__form-item {
	display: block;
}



.field {
	margin-bottom: 25px;
}

.field:last-of-type {
	margin-bottom: 0;
}

.field__row {
	display: flex;

	align-items: center;
	justify-content: space-between;

	margin-bottom: 13px;
}

.field__label {
	display: block;
	margin-bottom: 0;

	font-size: 15px;
	line-height: 1;
	color: #000000;
}

.field__button {
	position: relative;

	display: block;
	padding: 0;
	border: 0;
	background: none;

	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #225fcf;
}


.field__wrapper {
	position: relative;
}

.field__wrapper--buttons input,
.field__wrapper--buttons textarea {
	padding-right: 70px;
}

.field__textarea,
.field__input {
	display: block;
	width: 100%;
	padding-top: 9px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	border: solid 1px #d9dce7;
	border-radius: 5px;

	font-size: 16px;
	line-height: 1.75;
	color: #474e5d;
}

.field__input {
	padding: 11px 20px;
}

.field__input:disabled,
.field__textarea:disabled {
	background-color: #f5f7f9;
	color: rgba(71, 78, 93, 0.7)
}

.field__input::-webkit-input-placeholder,
.field__textarea::-webkit-input-placeholder {
  color: rgba(71, 78, 93, 0.3)!important;
}


.field__copy-button,
.field__print-button {
	position: absolute;
	top: 0;
	right: 0;

	width: 50px;
	height: 50%;
	border: solid 1px #d9dce7;
	border-radius: 0 5px 5px 0;
	background-color: #FFFFFF;
	background-image: url(../img/copy.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
    margin-bottom: 3px;
}

.field__print-button {
	background-image: url(../img/print.svg);
}

.field__wrapper--buttons button:first-of-type {	
	border-radius: 0 5px 0 0;
}

.field__wrapper--buttons button:last-of-type {
	top: auto;
	bottom: 0;

	border-radius: 0 0 5px 0;
}

.field__wrapper-buttons input + button {
	height: 100%;
	border-radius: 0 5px 5px 0;
}

.block-first__buttons {
	display: flex;
	margin-top: 40px;
}



@media(max-width: 767px) {
	.def-p {
		line-height: 1.5;
	}

	.def-page__title,
	.content-page h1 {
		margin-bottom: 30px;
		font-size: 32px;
	}

	.def-page__subtitle,
	.content-page h2 {
		margin-bottom: 35px;
		font-size: 18px;
	}

	.label__row {
		flex-wrap: wrap;
	}

	.label__left-col,
	.label__right-col {
		width: 100%;
	}

	.label__right-col--arrow {
		margin-top: 30px;
		margin-left: 0;
	}

	.label__right-col--arrow::before {
		top: -19px;
		left: 50%;
		transform: translateX(-50%) rotate(90deg);
	}

	.account-send .account__row {
		flex-wrap: wrap;
	}

	.account-send .account__btn-bitpay {
		margin-top: 15px;
		margin-left: 0;
	}

	.account-send .label__right-col {
		margin-top: 30px;
		margin-left: 0;
	}

	.bg-cyan .main {
		padding-top: 20px;
	}

	.home__form-tabs {
		padding: 25px;
	}

	.home .def-page__title-wrap {
		margin-bottom: 23px;
	}

	.home__title {
		margin-bottom: 15px;

		font-size: 32px;
		line-height: 1.25;
	}

	.home__subtitle {
		font-size: 18px;
		line-height: 1.44;
	}

	.error__message {
		line-height: 1.25;
	}

	.advantage-more__title {
		margin-bottom: 15px;
		font-size: 32px;
		line-height: 1.25;
	}

	.advantage-more__subtitle {
		margin-bottom: 18px;
		font-size: 18px;
		line-height: 1.44;
	}

	.active-tab-create-wallet .home__first {
		margin-bottom: 50px;
	}

	.btn-active {
		line-height: 1.25;
	}

	.recommendation-item {
		padding: 40px 30px;
		padding-top: 202px;
		padding-bottom: 33px;
	}

	.recommendation-item--save::before,
	.recommendation-item--mindful::before {
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}

	.def-page__title {
		margin-bottom: 13px;
		font-size: 32px;
	}

	.def-page__title--icon {
		margin-bottom: 36px;
		padding-top: 150px;
		padding-bottom: 0;
		padding-right: 0;
	}

	.def-page__title--icon::after {
		top: 0;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
	}

	.def-page__subtitle {
		margin-bottom: 37px;
		font-size: 18px;
		line-height: 1.44;
	}

	.donate {
		flex-wrap: wrap;
	}

	.donate__content {
		width: 100%;
		margin-bottom: 25px;
	}

	.donate__qr-wrap {
		justify-content: center;
		width: 100%;
		margin-left: 0;
	}

	.box-modal__row {
		display: block;
	}

	.box-modal__select {
		margin: 0 auto;
		margin-bottom: 21px;
	}

	.box-modal__title {
		width: 100%;
		margin-bottom: 23px;
	}
    
    .home__first-row {
		flex-wrap: wrap;
	}

	.home__wrapper-title {
		order: 2;

		min-width: 100%;
	}

	.home__title {
		display: block;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	.home__subtitle {
		text-align: center;
	}

	.home__first-main-picture {
		order: 1;

		position: static;

		width: 100%;
		min-width: 220px;
		height: 245px;
		margin-top: 30px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
	}

	.home__first-item {
		flex: auto;

		width: 100%;
	}

	.home__first-item:first-of-type {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.welcome-popup__row {
		flex-wrap: wrap;
	}

	.welcome-popup__col {
		width: 100%;
	}

	.welcome-popup__col:first-of-type {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.welcome-popup__btn {
		margin-right: auto;
		margin-left: auto;
		line-height: 0.71;
	}

	.block-first__list {
		flex-wrap: wrap;
		margin-bottom: 0;
	}

	.block-first__item {
		flex: auto;
		width: calc(50% - 18px);
		margin-bottom: 40px;
	}

	.block-first__item:nth-of-type(2n) {
		margin-right: 0;
	}
}

@media(max-width: 575px) {
	.def-page__title,
	.content-page h1 {
		margin-bottom: 15px;
		font-size: 28px;
	}

	#receive-address {
		padding: 10px 7px;
		font-size: 15px;
	}

	.header-mob__content {
		margin-right: 0;
		margin-left: 0;
	}

	.header__info {
		flex-wrap: wrap;
	}

	.header-mob__lang {
		display: flex;
		justify-content: center;

		width: 100%;
		margin-bottom: 30px;
	}

	.header__btns {
		flex-wrap: wrap;
		padding: 0 15px;
	}

	.header__btns .header__btn:first-of-type {
		order: 2;
	}

	.header__btn {
		width: 100%;
		text-align: center;
	}

	.header__btn--active {
		margin-bottom: 20px;
		margin-left: 0;
		order: 1;
	}

	.header .switch.open .switch__list {
		border-radius: 6px;
	}

	.lang__list {
		left: 50%;
		transform: translateX(-50%);
	}

	.account-header {
		padding-top: 40px;
	}

	.account-header__info {
		justify-content: center;
		margin-bottom: 0;
	}

	.account-header__mob-col {
		order: 2;

		margin-top: 40px;
		margin-bottom: 40px;
	}

	.account-header__position {
		margin-bottom: 0;

		text-align: center;
		font-weight: 400;
	}

	.account-header__description {
		display: none;
	}

	.account-mob-header__wrap-nav {
		padding-right: 15px;
		padding-left: 15px;
		border-top: 1px solid rgba(255,255,255,0.07);
	}

	.account-header__info {
		margin-left: 0;
		margin-right: 0;
	}

	.account__addresses-list-title {
		width: 100%;
		margin-bottom: 15px;
	}

	.account__select {
		margin-left: 0;
	}

	.account__block,
	.account__block--schedule:first-of-type {
		margin-left: 15px;
		margin-right: 15px;
		overflow: hidden;
	}

	.account__row {
		flex-wrap: wrap;
	}

	.account__qr-wrap {
		width: 100%;
		text-align: center;
	}

	.account__warning {
		padding-top: 58px;
		padding-left: 20px;
	}

	.account__warning::after {
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
	}

	.account__item-col:nth-of-type(1) {
		width: 100%;
		margin-bottom: 15px;
		padding-right: 0;
		text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
	}

	.account__item-col:nth-of-type(2) {
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0;
	}

	.account__item-col:nth-of-type(2) .btn-copy {
		margin-left: 0;
	}

	.account__item-col:nth-of-type(3),
	.account__item-col:nth-of-type(4) {
		width: 100%;
		margin-bottom: 20px;
	}

	.account-info .form__label--mob-for-generate {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.account-info .form__textarea {
		min-height: 80px;
	}

	.account-info .btn-copy {
		 top: 0;
		 border-bottom: solid 1px #d9dce7;
	}

	.stat__my-wallet,
	.stat__col .stat__other-wallet {
		text-overflow: ellipsis;
		line-height: 1;
	}

	.account__receive-qr img {
		max-width: 100%;
		height: auto;
	}

	.home__nav-btn--new-wallet::before {
		display: none;
	}

	.form__nav-options-wrap--checkbox {
		height: auto;
	}

	.home .form__checkbox-wrap {
		width: 100%;
		flex-wrap: wrap;
	}

	.home__nav-btn {
		font-size: 16px;
	}

	.home__nav-btn span {
		padding-left: 33px;
	}

	.form__checkbox {
		width: 100%;
		margin-top: 15px;
		margin-left: 0;
	}

	.account-send .form__checkbox {
		margin-top: 0;
	}

	.form__label--mob-for-generate {
		padding-bottom: 25px;
	}

	.form__option--generate {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.form__textarea {
		height: 150px;
	}	

	.home__form-tab .btn-copy {
		bottom: 100px;
		height: 75px;
	}
	.home__form-tab .btn-print {
		bottom: 25px;
		height: 75px;
	}

	.error__notification {
		right: 15px;
	}

	.form__wrap-btns {
		flex-wrap: wrap;
	}

	.form__btn-reset {
		order: 2;
		width: 100%;
		margin-top: 15px;
		margin-right: 0;
	}



	.content-page img {
		float: none!important;
    display: block;
		margin: 0 auto;
		padding: 15px 0;
	}


    
    .block-first__item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
		padding-right: 25px;
		padding-left: 25px;
	}

	.block-first__form-item {
		padding: 40px 25px;
	}

	.block-first__buttons {
		flex-wrap: wrap;
		margin-top: 25px;
	}

	.block-first__button {
		order: 1;
		width: 100%;
	}

}

@media print {
  @page {
    size: auto;
    margin: 0; }
  #print-display {
    display: block !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important; }
  .home__modal-welcome {
    display: none; }
.main{
    display: none; }
.footer{
display: none;
}   
.wrapper
{
display: none;
}    }


.Generate_btn {
	
	
}

















